footer{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    div{
        svg{
            height: 30px;
        }
    }
    .github-perso{
        a{
            color:#326CB3;
            
            &:hover{
                color: black;
            }
        }
    }
}