body {
    font-size: 16px;
    background-color: #F3F4F6;
}


    nav {
        display: flex;
        justify-content: center; /* Centrer horizontalement */
        align-items: center;     /* Centrer verticalement */
        background-color: white;
        padding: 1em;
    }
    
    nav a {
        color: black;
        padding: 0.5em 1em;
        text-decoration: none;
        text-align: center;
    }
    
    nav a:hover {
        background-color: #F3F4F6;
    }

    .logo{
        display: block;
        margin: 0 auto;
        width: 25%;
    }
    

@media (min-width: 769px)  {
    /* Styles pour les ordinateurs de bureau */
   }