body {
  font-size: 16px;
  background-color: #F3F4F6;
}

nav {
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  background-color: white;
  padding: 1em;
}

nav a {
  color: black;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: #F3F4F6;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 25%;
}

@media (min-width: 769px) {
  /* Styles pour les ordinateurs de bureau */
}
main .form-login {
  background-color: white;
  width: 50%;
  margin: 5% auto;
  padding: 1%;
  border-radius: 10px;
}
main .form-login h1 {
  text-align: center;
}
main .form-login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .form-login form .inputfield {
  background-color: #E5E7EB;
  border: none;
  margin-bottom: 2%;
  padding: 1%;
}
main .form-login form label, main .form-login form input {
  margin-left: 3%;
  margin-right: 3%;
}
main .form-login form .button {
  width: 16%;
  text-transform: capitalize;
  border: none;
  padding: 1%;
}
main .form-login form .button:hover {
  color: white;
  background-color: #7e7e7f;
}
main .form-login form a {
  color: #326CB3;
  text-transform: uppercase;
}
main .form-login form a:hover {
  color: black;
}
main .form-register {
  background-color: white;
  width: 50%;
  margin: 5% auto;
  padding: 1%;
  border-radius: 10px;
}
main .form-register h1 {
  text-align: center;
}
main .form-register form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .form-register form .inputfield {
  background-color: #E5E7EB;
  border: none;
  margin-bottom: 2%;
  padding: 1%;
}
main .form-register form label, main .form-register form input {
  margin-left: 3%;
  margin-right: 3%;
}
main .form-register form .button {
  width: 20%;
  text-transform: capitalize;
  border: none;
  padding: 1%;
}
main .form-register form .button:hover {
  color: white;
  background-color: #7e7e7f;
}
main .form-register form a {
  color: #326CB3;
  text-transform: uppercase;
}
main .form-register form a:hover {
  color: black;
}
main .div-detail {
  display: flex;
  justify-content: space-around;
}
main .div-detail .info-pokemon {
  background-color: white;
  width: 40%;
  margin: 5%;
  padding: 1%;
  border-radius: 10px;
}
main .div-detail .info-pokemon .div-type {
  display: flex;
}
main .div-detail .info-pokemon .div-type p {
  padding-right: 2%;
}
main .div-detail .info-pokemon .progress-bar {
  display: flex;
  flex-direction: column;
}
main .div-detail .info-pokemon .progress-bar progress {
  color: #4B5563;
  border-radius: 10px;
}

footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1%;
}
footer div svg {
  height: 30px;
}
footer .github-perso a {
  color: #326CB3;
}
footer .github-perso a:hover {
  color: black;
}